<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/estoque.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Estoque</title>
</head>
<body>
    <header>
        <div class="estoque-header">
            <h1>Estoque</h1>
            <a href="/menu"><button class="menu"><i class="fas fa-bars"></i></button></a>
            <a href="/addproduto"><button class="add"><i class="fas fa-plus"></i></button></a>
        </div>
    </header>
    <main>
        <div class="estoque-main">
               
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Código</th>
                        <th>Ação</th>        
                    </tr>
                </thead>
                <tbody>
                   <% estoque.forEach(produto =>{ %>
                        <tr>
                            <td><%= produto.idt_produto %></td>
                            <td><%= produto.nome_produto %></td>
                            <td><%= produto.preco_produto + " R$"%></td>
                            <td><%= produto.quant_produto %></td>
                            <td><%= produto.codigo_produto %></td>
                            
                            <td>
                                <a href="/editarest/<%= produto.idt_produto %>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="/deletarest/<%= produto.idt_produto %>" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                            </td>

                        </tr> 
                    <%  }) %>  
                </tbody>
            </table>

        </div>
    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>